git+https://github.com/Pylons/webob.git
git+https://github.com/Pylons/pylons.git
paste
pastescript
alembic>=0.4.2
pydns
lxml
PIL
psycopg2
pyramid
pyramid_debugtoolbar
pyramid_tm
transaction
waitress
zope.sqlalchemy

#### LEGACY (zkpylon) requirements:
AuthKit
FormEncode>=0.6
pylibravatar
#pylons
pytz
vobject
PasteDeploy
